li{
    list-style: none;
    border: 1px black solid;
    border-collapse: collapse;
}
a{
    text-decoration: none;
    color: black;
}
#nav{
    text-align: center;
}
ul{
    padding: 0px;
    list-style: none;
    background-color: skyblue;
}
footer{
    position: absolute;
    bottom: 0%;
    width: 99%;
    text-align: center;
    background-color: skyblue
}
footer img{
    height:25px; 
    width:25px;
}
*{
    font-family: 'Comic Sans MS';
}
